* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-template-rows: repeat(3, 100px);
}

.item-1 {
    background-color: aqua;
    grid-row: 1/4;
    grid-column: 1/3;
}

.item-2 {
    background-color: brown;
}

.item-3 {
    background-color: blue;
}